<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/base.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/base_width.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/base_height.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/base_margin.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/base_padding.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/web.css}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/jqtransformplugin/jqtransform.css}" type="text/css" media="all"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.jqtransform-taiji.js}"></script>
    <script language="JavaScript" th:src="@{/js/base.js}"></script>
    <script language="javascript">
        $(function () {
            $('span').jqTransform({imgPath: 'jqtransformplugin/img/'});
        });
    </script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body style="background:#f3f3f3;">
<div class="bc w h68">
    <div class="fl w min-h mt15 bg_white">
        <div class="fl w ml100 mt35 titBg h45">
            <span class="fl w158 f18 mt5">新增/修改组织</span>
        </div>
        <!--right main-->
        <div class="fr w min-h bg_white pb50">
                <ul class="fl w800 ml100 mb50">
<!--                    <li class="fl w520 mt30">-->
<!--                        <span class="fl w150 tr mt5">组织ID：</span>-->
<!--                        <span class="fl ml15">-->
<!--                        <input type="text" name="orgId" id="orgId" class="fl mt6 ml10 w243 inputSearch"-->
<!--                               th:value="${org.id}" >-->
<!--                    </span>-->
<!--                    </li>-->
                    <input type="hidden" name="orgId" id="orgId" th:value="${org.id}" >
                    <li class="fl w520 mt30">
                        <span class="fl w150 tr mt5">组织名称：</span>
                        <span class="fl ml15">
                        <input type="text" name="orgName" id="orgName" class="fl mt6 ml10 w243 inputSearch"
                               th:value="${org.orgName}" >

                    </span>
                    </li>
<!--                    <li class="fl w520 mt30">-->
<!--                        <span class="fl w150 tr mt5">组织代码：</span>-->
<!--                        <span class="fl ml15">-->
<!--                             <input type="text" name="orgCode" id="orgCode" class="fl mt6 ml10 w343 inputSearch"-->
<!--                                     th:value="${org.orgCode}" >-->
<!--                        </span>-->
<!--                    </li>-->
                    <li class="fl w520 mt30">
                        <span class="fl w150 tr mt5">上级组织ID</span>
                        <span class="fl ml15">
                            <input type="text" name="parentId" id="parentId" class="fl mt6 ml10 w243 inputSearch"
                                   th:value="${org.parentId}" >
                    </span>
                    </li>

                    <li class="fl w520 mt30">
                        <span class="fl w150 tr mt5">组织排序</span>
                        <span class="fl ml15">
                            <input type="text" name="orgOrder" id="orgOrder" class="fl mt6 ml10 w243 inputSearch"
                                   th:value="${org.orgOrder}" >
                    </span>
                    </li>
                </ul>
                <div class="bc w250 h100" th:if="${ null == org.id } ">
                    <a href="javascript:history.go(-1)" class="fr w107 btn click">返回</a>
                    <input type="submit" class="fl w107 btn saveOrg" value="保存"/>
                </div>
                <div class="bc w250 h100" th:if="${ null != org.id } ">
                    <a href="javascript:history.go(-1)" class="fr w107 btn click">返回</a>
                    <input type="submit" class="fl w107 btn saveOrg" value="修改"/>
                </div>
        </div>
    </div>
</div>
<!--提示消息-->
<div class="tip">
    <div class="tiptop"><span>提示信息</span><a></a></div>
    <div class="fl w400 h140 ml50">
        <p class="fl w mt30 f18 prompt_msg">是否确认对信息的修改 ？</p>
        <p class="fl w mt15 f18 prompt_msg_desc"></p>
    </div>
    <div class="bc w220">
        <input name="" type="button"  class="fl sure btn prompt_sure" value="确定" />&nbsp;
        <input name="" type="button"  class="fr cancel btn prompt_cancel" value="取消" />
    </div>
</div>
<div th:replace="/pages/foot.html::foot"></div>
</body>
<script type="text/javascript">
    $(document).ready(function(){
        $(".prompt").click(function(){
            $(".tip").fadeIn(200);
        });

        $(".tiptop a").click(function(){
            $(".tip").fadeOut(200);
        });

        $(".sure").click(function(){
            $(".tip").fadeOut(100);
        });

        $(".cancel").click(function(){
            $(".tip").fadeOut(100);
        });

    });
</script>
<script type="text/javascript">
    $(function () {
        $(".saveOrg").on('click',function () {

            var data ={};
            var orgName = $("#orgName").val();
            var orgOrder = $("#orgOrder").val();
            if (null == orgName || "" == orgName) {
                $(".prompt_msg").text("组织名称不能为空");
                $(".tip").fadeIn(200);
                return null;
            }

            if (null == orgOrder || "" == orgOrder) {
                $(".prompt_msg").text("组织排序不能为空");
                $(".tip").fadeIn(200);
                return null;
            }
            data.id = $("#orgId").val();
            data.orgName = orgName;
            data.parentId = $("#parentId").val();
            data.orgOrder = orgOrder;

            $.requestJsonAjax({
                url: "/duty/api/org/save",
                type: "post",
                data: data,
                success: function (result) {
                    window.location.href = "/duty/sys/org/list";
                }
            })
        })
    })
    
</script>
</html>