<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--base style!-->
    <link th:href="@{/css/base.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/base_width.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/base_height.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/base_margin.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/base_padding.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/web.css}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/jqtransformplugin/jqtransform.css}" type="text/css" media="all"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script  th:src="@{/css/jqtransformplugin/jquery.jqtransform.js}"></script>
    <script language="JavaScript" th:src="@{/js/base.js}"></script>
    <script language="javascript">
        $(function () {
            $('span').jqTransform({imgPath: 'jqtransformplugin/img/'});
        });
    </script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header"  th:content="${_csrf.headerName}"/>
    <script>
        function addImage() {
            document.getElementById_x("image").click();
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".click").click(function () {
                $(".tip").fadeIn(200);
            });

            $(".tiptop a").click(function () {
                $(".tip").fadeOut(200);
            });

            $(".sure").click(function () {
                $(".tip").fadeOut(100);
            });

            $(".cancel").click(function () {
                $(".tip").fadeOut(100);
            });

        });
    </script>
</head>
<body style="background:#f3f3f3;">
<div class="fl w min-h bg_white mt15 pt15 bor_t">
    <div class="bc h50 w_96">
        <div class="fl w pb15">
            <strong>系统管理</strong> — 角色管理
            <a th:href="@{/sys/role/add}"  class="fr w58 btn mr15">新增</a>
        </div>
        <table width="60%" border="0" cellspacing="0" cellpadding="0" class="tablelist">
            <tr class="tableTit">
                <td class="tc w35">序号</td>
                <td class="tc w150">角色名称</td>
                <td class="tc w70">角色代码</td>
                <td class="tc w70">角色备注</td>
                <td class="tc w200">操作</td>
            </tr>
            <tr th:each="data,loopStatus:${data.content}">
                <td class="tc" th:text="${loopStatus.count}"></td>
                <td class="tc" th:text="${data.roleDesc}"></td>
                <td class="tc" th:text="${data.roleName}"></td>
                <td class="tc" th:text="${data.roleRemark}"></td>
                <td class="tc">
                    <a href="javascript:void(0)"   th:onclick=deleteRole([[${data.id}]])  class="Cor_blue">删除</a>
                    <a th:href="@{/sys/role/add?id=}+${data.id}" class="Cor_blue mr5 ml5">编辑</a>
                    <a th:href="@{/sys/role/edit?roleId=}+${data.id}" class="Cor_blue mr5 ml5">权限分配</a>
                </td>
            </tr>
        </table>
        <div class="fl w h30 mt15" th:text="'共'+${data.totalElements}+'条记录，每页'+${data.size}+'条,共'+${data.totalPages}+'页'"></div>

        <div th:replace="~{/pages/pagination.html :: page(${data.number}+1, ${data.totalPages}, '/sys/role/list?pageSize=10', 'currentPage') }"></div>

    </div>
</div>

<!--提示消息-->
<div class="tip">
    <div class="tiptop"><span>提示信息</span><a></a></div>
    <div class="fl w400 h140 ml50">
        <p class="fl w mt30 f18 prompt_msg">是否确认对信息的修改 ？</p>
    </div>
    <div class="bc w220">
        <input name="" type="button" class="fl sure btn" value="确定"/>&nbsp;
        <input name="" type="button" class="fr cancel btn" value="取消"/>
    </div>
</div>

</body>
<script type="text/javascript">
    function deleteRole(roleId) {
        $.requestAjax({
            url: "/dianthus/api/role/delete",
            type: "post",
            data: {"id":roleId},
            success: function (result) {
                $(".prompt_msg").text(result.msg)
                $(".tip").fadeIn(200);
                if (result.success) {
                    window.location.reload()
                }

            }
        })
    }
</script>
</html>