<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=7" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet"  th:href="@{/css/control_style.css}" type="text/css">
<script language="JavaScript" type="text/JavaScript">
<!--
  function hidemenu(){
  	parent.document.getElementById("mainframeset").cols = "0,15,*";
  	//window.document.all.mainframeset.cols = "0,12,*";
	closemenu.style.display = "none";
	openmenu.style.display = "block";
}
  function showmenu(){
  	parent.document.getElementById("mainframeset").cols = "230,15,*";
  	closemenu.style.display = "block";
	openmenu.style.display = "none";
}
//-->
</script>
</head>
<body>
<div class="conArrowOut">
<div class="conArrowLeft" title="收起菜单" id="closemenu" onClick="hidemenu();">&nbsp;</div>
<div class="conArrowRight"  title="显示菜单" id="openmenu" style="display:none;" onClick="showmenu();">&nbsp;</div>
</div>
</body>
</html>