<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>菜单</title>
    <link th:href="@{/css/menu.css}" rel="stylesheet" type="text/css"/>
    <script language="JavaScript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript">
        $(function () {
            $('.sidenav li').click(function () {
                $(this).siblings('li').removeClass('now');
                $(this).addClass('now');
            });

            $('.erji li').click(function () {
                $(this).siblings('li').removeClass('now_li');
                $(this).addClass('now_li');
            });

            var main_h = $(window).height();
            $('.sidenav').css('height', main_h + 'px');
        })
    </script>
</head>

<body>
<div class="tit_1">值班加班管理系统<span style="font-size:14px;">(未启用)</span></div>
<div id="left_ctn">
    <ul class="sidenav">

        <li th:each="menu,loopStatus:${menu}">
            <div class="nav_m">
                <a th:href="${menu.MenuUrl} eq null  ? 'javascript:void(0)' : ${'/duty' + menu.MenuUrl+'?currentPage=1'}"
                   target="rightFrame">
                    <cite><img th:src="${'/duty'+menu.menuIco}"/></cite>
                    <span th:text="${menu.MenuName}"></span>
                </a>
                <i>&nbsp;</i>
            </div>
            <ul class="erji" th:if="${menu.hasSubmenu} == 1">
                <li th:each="child:${menu.child}">
                    <a th:href="${'/duty'+child.MenuUrl}" target="rightFrame" th:text="${child.MenuName}"></a>
                </li>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>
